.App {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  color: white;
}
h1,
h2 {
  color: white;
}
p {
  color: white;
}
.nav {
  color: white;
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: white;
}
